<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>list book</title>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<h2>Danh sách sản phẩm</h2>
	<hr />
	<a href="">Thêm mới</a>
	<table>
		<tr>
			<th>Mã Sách</th>
			<th>Tên Sách</th>
			<th>Ảnh 1</th>
			<th>Ảnh 2</th>
			<th>Ảnh 3</th>
			<th>Đơn Giá</th>
			<th>Số Lượng Tồn</th>
			<th>Số Lượng Mua</th>
			<th>Thể Loại</th>
			<th>Nhóm</th>
			<th>Nhà Xuất Bản</th>
			<th>Chọn</th>
		</tr>

		<tr th:each="book : ${books}">
			<td th:text="${book.maSach}"></td>
			<td th:text="${book.tenSach}"></td>
			<td th:text="${book.hinhAnh}"></td>
			<td th:text="${book.hinhAnh2}"></td>
			<td th:text="${book.hinhAnh3}"></td>
			<td th:text="${book.donGia}"></td>
			<td th:text="${book.soLuongTon}"></td>
			<td th:text="${book.soLuongMua}"></td>
			<td th:text="${book.theLoai.tenTheLoai}"></td>
			<td th:text="${book.nhomMua.tenNhom}"></td>
			<td th:text="${book.nhaXuatBan.tenNhaXuatBan}"></td>
			<td>
					<a href="">Chi tiết</a>
					<a href="">Xóa</a>
			</td>
		</tr>

	</table>
</body>
</html>