<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Thêm Sản Phẩm</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/2mxsxulxmdqvlr9jnx0cii9sz96jwsyqbahtu3gars8e7kp6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
	<form th:action="@{/them-moi-san-pham}" th:object="${Sach}" enctype="multipart/form-data" method="POST">
		<p>Them Product</p>
			<div>
				<label>Tên</label> <input type="text" th:field="*{tenSach}" />
			</div>
			<br/>
			
			<div>
				<label>Giá</label> <input type="number" min="0" th:field="*{donGia}" />
			</div>
			<br/>
			
			<div>
				<label>Số Lượng</label> <input type="number" min="0" th:field="*{soLuongTon}" />
			</div>
			<br/>
			
			<div>
				<label>Mô Tả</label>
				<textarea rows="" cols="" th:field="*{moTa}"></textarea>
			</div>
			<br/>
			
			<div>
				<label>Thể Loại</label> <select th:field="*{theLoai.maTheLoai}">
					<!-- <option th:value="">-- Chọn Thể Loại --</option> -->
					<option th:each="tl : ${TheLoais}" th:value="${tl.maTheLoai}"
						th:text="${tl.tenTheLoai}"></option>
				</select>
			</div>
			<br/>
			
			<div>
				<label>Nhà Sản Xuất</label> <select th:field="*{nhaXuatBan.maNhaXuatBan}">
					<!-- <option th:value="">-- Chọn Nhà Xuất Bản --</option> -->
					<option th:each="nxb : ${NhaXuatBans}" th:value="${nxb.maNhaXuatBan}"
						th:text="${nxb.tenNhaXuatBan}"></option>
				</select>
			</div>
			<br/>
			
			<div>
				<label>Nhóm Mua</label> <select th:field="*{nhomMua.maNhom}">
					<!-- <option th:value="">-- Chọn Nhóm Mua --</option> -->
					<option th:each="nm : ${NhomMuas}" th:value="${nm.maNhom}"
						th:text="${nm.tenNhom}"></option>
				</select>
			</div>
			<br/>
			
			<div>
				<label>Hình Ảnh 1</label> <input name="imageFile" type="file" accept="image/*" />
			</div>
			<br/>
			
			<div>
				<label>Hình Ảnh 2</label> <input name="imageFile" type="file" accept="image/*" />
			</div>
			<br/>
			
			<div>
				<label>Hình Ảnh 3</label> <input name="imageFile" type="file" accept="image/*" />
			</div>
			<br/>
		
			<div><input type="submit" value="Thêm mới" /></div>
	</form>
	<a th:href="@{'/danh-sach-san-pham'}">Quay Lại</a> 
	<!-- <div id="wrapper" style="margin-top: 20px;">
		<input id="fileUpload" name="imageFile" multiple="multiple" type="file" accept="image/*" />
		<div id="image-holder"></div>
	</div>

	<script>
		$(document).ready(function() {
	        $("#fileUpload").on('change', function() {
	          //Get count of selected files
	          var countFiles = $(this)[0].files.length;
	          var imgPath = $(this)[0].value;
	          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
	          var image_holder = $("#image-holder");
	          image_holder.empty();
	          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
	            if (typeof(FileReader) != "undefined") {
	              //loop for each file selected for uploaded.
	              for (var i = 0; i < countFiles; i++) 
	              {
	                var reader = new FileReader();
	                reader.onload = function(e) {
	                  $("<img />", {
	                    "src": e.target.result,
	                    "class": "thumb-image"
	                  }).appendTo(image_holder);
	                }
	                image_holder.show();
	                reader.readAsDataURL($(this)[0].files[i]);
	              }
	            } else {
	              alert("This browser does not support FileReader.");
	            }
	          } else {
	            alert("Pls select only images");
	          }
	        });
	      });
	</script> -->
	
	<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
      entity_encoding : "raw",
      encoding: "UTF-8",
   });
  </script>
  
</body>
</html>